<div class="recipeDetails">
  <h1 class="recipeTitle"><%- title %></h1>
  <span class="servings">Servings: <%- servings %></span>
  <span class="creditSource">
        Credit:&nbsp;<a href="<%- sourceUrl %>"><%- sourceUrl %></a>
      </span>
  <span class="preparationTime">Preparation time: <%- preparationMinutes %> min.</span>
  <span class="cookingTime">Cooking time: <%- cookingMinutes %> min.</span>
  <span class="imgDetailsWrapper">
        <img class="imgDetails" src="<%- image %>" alt="<%- title %>"/>
      </span>
  <span class="instructions"><%- instructions %></span>
</div>